body {
    font-family: "Courier New", Courier, monospace;
    background-color: #121212; /* Fundo cinza escuro */
    color: #d3d3d3;         /* Texto cinza claro */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;            /* Largura do conteúdo */
    max-width: 800px;      /* Limita a largura do conteúdo */
    margin: 0 auto;        /* Centraliza horizontalmente */
    padding: 1rem 0;       /* Espaço vertical apenas dentro do container */
}

h1, h2, h3, h4, h5, h6 {
    color: #fff; /* Texto branco */
}

a {
    color: #00ffcc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre {
    background: #222;
    padding: 1rem;
    border-radius: 5px;
    overflow: auto;
    font-size: 0.9rem;
}
